.error-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  height: calc(100vh - 100px);
  font-size: 1.5rem;
}
.error-div .material-icons-outlined {
  font-size: 12rem;
}
.error-code {
  font-size: 6rem;
}
.form-input {
  text-align: center;
  width: 95%;
  position: relative;
  height: 60px;
  overflow: hidden;
}
.form-input input {
  width:100%;
  height:100%;
  border: 0;
  padding-top: 20px;
  outline: none;
  background: transparent !important;
}

.form-input label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.form-input label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid var(--bg-dark-secondary);
  left: 0;
  bottom: 0px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.form-input input:focus + .label-name .content-name, .form-input input:valid + .label-name .content-name{
  transform: translateY(-100%);
  font-size: 14px;
  color: var(--text-primary)
}
.form-input input:focus + .label-name::after, .form-input input:valid + .label-name::after{
  transform: translateX(0%);
}

.card-dark input, .card-dark label {
  color: white;
}